.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.chatbot-message {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 10px;
}

.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: black 1px solid;
  padding: 10px;
  border-radius: 10px;
}

.user-message-container{
  display: flex;
  align-items: center;
  justify-content: center;
  border: black 1px solid;
  padding: 10px;
  border-radius: 10px;
  background-color: yellow;
}

.chatbot-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: black 1px solid;
  padding: 10px;
  border-radius: 10px;
  background-color: aqua;
}

.input-form {
  display: flex;
  align-items: center;
  margin: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px;
}

.send-button {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: grey;
}